 *,*:before,*:after{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,b,u,i,center,table,tr,th,td,video{margin:0;padding:0;border:0}sup{line-height:0;font-size:smaller;vertical-align:super}sub{line-height:0;font-size:smaller;vertical-align:sub}.t-clear{clear:both}.t-row{margin:0}.t-container{margin-left:auto;margin-right:auto;width:100%;max-width:1200px;padding:0}.t-container.flexx{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.t-container_flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.t-container_100{width:100%;padding:0}.t-container_10{margin-left:auto;margin-right:auto;width:100%;max-width:1000px;padding:0}.t-container_8{margin-left:auto;margin-right:auto;width:100%;max-width:800px;padding:0}.t-container:before,.t-container:after,.t-container_10:before,.t-container_10:after,.t-container_8:before,.t-container_8:after,.t-container_100:before,.t-container_100:after{display:table;content:" ";width:0}.t-container:after,.t-container_10:after,.t-container_8:after,.t-container_100:after{clear:both}.t-col{display:inline;float:left;margin-left:20px;margin-right:20px;width:100%}.t-col.flexx{align-items:stretch;height:inherit;margin-top:auto;margin-bottom:auto}.t-col_flex{align-items:stretch;height:inherit;margin-top:auto;margin-bottom:auto}.t-col_1{max-width:60px}.t-col_2{max-width:160px}.t-col_3{max-width:260px}.t-col_4{max-width:360px}.t-col_5{max-width:460px}.t-col_6{max-width:560px}.t-col_7{max-width:660px}.t-col_8{max-width:760px}.t-col_9{max-width:860px}.t-col_10{max-width:960px}.t-col_11{max-width:1060px}.t-col_12{max-width:1160px}.t-col_100{max-width:100vw}.t-prefix_1{padding-left:100px}.t-prefix_2{padding-left:200px}.t-prefix_3{padding-left:300px}.t-prefix_4{padding-left:400px}.t-prefix_5{padding-left:500px}.t-prefix_6{padding-left:600px}.t-prefix_7{padding-left:700px}.t-prefix_8{padding-left:800px}.t-prefix_9{padding-left:900px}.t-prefix_10{padding-left:1000px}.t-prefix_11{padding-left:1100px}.t-prefix_12{padding-left:1200px}.t-width{width:100%}.t-width_1{max-width:60px}.t-width_2{max-width:160px}.t-width_3{max-width:260px}.t-width_4{max-width:360px}.t-width_5{max-width:460px}.t-width_6{max-width:560px}.t-width_7{max-width:660px}.t-width_8{max-width:760px}.t-width_9{max-width:860px}.t-width_10{max-width:960px}.t-width_11{max-width:1060px}.t-width_12{max-width:1160px}.t-width_100{max-width:100%}.t-cell{display:table-cell;vertical-align:middle;height:100%;margin-left:0;margin-right:0}.t-cell_25{width:25vw}.t-cell_33{width:33.3333333vw}.t-cell_50{width:50vw}.t-cell_100{width:100vw}@media screen and (max-width:1200px){.t-container{max-width:960px;padding:0}.t-container_10{max-width:780px}.t-container_8{max-width:640px}.t-col{display:inline;float:left;margin-left:10px;margin-right:10px;width:100%}.t-col_1{max-width:60px}.t-col_2{max-width:140px}.t-col_3{max-width:220px}.t-col_4{max-width:300px}.t-col_5{max-width:380px}.t-col_6{max-width:460px}.t-col_7{max-width:540px}.t-col_8{max-width:620px}.t-col_9{max-width:700px}.t-col_10{max-width:780px}.t-col_11{max-width:860px}.t-col_12{max-width:940px}.t-prefix_1{padding-left:80px}.t-prefix_2{padding-left:160px}.t-prefix_3{padding-left:240px}.t-prefix_4{padding-left:320px}.t-prefix_5{padding-left:400px}.t-prefix_6{padding-left:480px}.t-prefix_7{padding-left:560px}.t-prefix_8{padding-left:640px}.t-prefix_9{padding-left:720px}.t-prefix_10{padding-left:800px}.t-prefix_11{padding-left:880px}.t-prefix_12{padding-left:960px}.t-width_1{max-width:60px}.t-width_2{max-width:140px}.t-width_3{max-width:220px}.t-width_4{max-width:300px}.t-width_5{max-width:380px}.t-width_6{max-width:460px}.t-width_7{max-width:540px}.t-width_8{max-width:620px}.t-width_9{max-width:700px}.t-width_10{max-width:780px}.t-width_11{max-width:860px}.t-width_12{max-width:940px}.t-width_100{max-width:100%}}@media screen and (max-width:960px){.t-container{max-width:640px}.t-container.flexx{display:block}.t-container_flex{display:block}.t-col{display:block;float:none;padding-left:20px;padding-right:20px;margin:0;width:100%;max-width:100%;box-sizing:border-box}.t-col_1,.t-col_2,.t-col_3,.t-col_4,.t-col_5,.t-col_6,.t-col_7,.t-col_8,.t-col_9,.t-col_10,.t-col_11,.t-col_12{width:100%;max-width:100%}.t-prefix_1,.t-prefix_2,.t-prefix_3,.t-prefix_4,.t-prefix_5,.t-prefix_6,.t-prefix_7,.t-prefix_8,.t-prefix_9,.t-prefix_10,.t-prefix_11,.t-prefix_12{padding-left:none}}

      .csssize{height:5219px}.t-body{margin:0}#allrecords{-webkit-font-smoothing:antialiased;background-color:none}#allrecords a{color:#ffffff;text-decoration:none}#allrecords a,#allrecords button,#allrecords .t-radio,#allrecords .t-checkbox,#allrecords .t-img-select{outline:none}#allrecords a:focus-visible,#allrecords button:focus-visible,#allrecords .t-focusable,#allrecords .t-focusable .t-btn,#allrecords .t-focusable .t-btntext,#allrecords .t-img-select:focus-visible+.t-img-select__indicator,#allrecords .t-img-select:focus-visible+.t-img-select__indicator:after,#allrecords .t-radio:focus-visible+.t-radio__indicator,#allrecords .t-checkbox:focus-visible+.t-checkbox__indicator{outline-color:#2015FF;outline-offset:4px;outline-style:auto}#allrecords .t-descr a:focus-visible,#allrecords .t-sociallinks a:focus-visible,#allrecords .ya-share2__link:focus-visible{outline-offset:2px}#allrecords a[href^=tel]{color:inherit;text-decoration:none}#allrecords ol{padding-left:22px}#allrecords ul{padding-left:20px}#allrecords b,#allrecords strong{font-weight:700}@media print{body,html{min-width:1200px;max-width:1200px;padding:0;margin:0 auto;border:none}}

.t-records{
  -webkit-font_smoothing:antialiased;
  background-color:none;
}
      
.t-records a{
  color:#ff8562;
  text-decoration:none
}

.t-records a[href^=tel]{
  color:inherit;
  text-decoration:none
}

.t-records ol{
  padding-left:22px;
  margin-top:0;
  margin-bottom:10px
}

.t-records ul{
  padding-left:20px;
  margin-top:0;
  margin-bottom:10px
}

.t-mbfix{opacity:.01;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);position:fixed;width:100%;height:500px;background-color:white;top:0;left:0;z-index:10000;-webkit-transition:all 0.1s ease;transition:all 0.1s ease}.t-mbfix_hide{-webkit-transform:translateX(3000px);-ms-transform:translateX(3000px);transform:translateX(3000px)}img:not([src]){visibility:hidden}.r_anim{-webkit-transition:opacity 0.5s;transition:opacity 0.5s}.r_hidden{opacity:0}.r_showed{opacity:1}.t-name{font-family:'Roboto',Arial,sans-serif;font-weight:600;color:#000000}.t-name_xs{font-size:16px;line-height:1.35}.t-title{font-family:'Roboto',Arial,sans-serif;font-weight:600;color:#000000}.t-title_lg{font-size:64px;line-height:1.23}.t-descr{font-family:'Roboto',Arial,sans-serif;font-weight:300;color:#000000}.t-descr_xl{font-size:24px;line-height:1.5}.t-uptitle{font-family:'Roboto',Arial,sans-serif;font-weight:600;color:#000000;letter-spacing:2.5px}.t-uptitle_md{font-size:16px}.t-align_center{text-align:center}.t-align_right{text-align:right}.t-margin_auto{margin-left:auto;margin-right:auto}.t-label{background-color:#000;color:#fff;width:100%;height:70px;font-family:Arial;font-size:14px}.t-label:hover .t-label__wrapper{opacity:1}.t-label-free{padding:35px 0 45px;height:auto;text-align:center}.t-label-free__main{max-width:340px;display:block;margin:0 auto;line-height:1.4;letter-spacing:.2px;color:inherit;opacity:.4}.t-label-free__main:hover{opacity:1}.t-label-free__txt-link:hover{opacity:1}.t-label-free__links-wr{display:table;margin:30px auto 0}.t-label-free__txt-link{display:table-cell;padding:0 15px;font-size:13px;text-decoration:none;color:inherit;opacity:.25}.t-rec_pt_0{padding-top:0}.t-rec_pt_15{padding-top:15px}.t-rec_pt_30{padding-top:30px}.t-rec_pt_90{padding-top:90px}.t-rec_pb_0{padding-bottom:0}.t-rec_pb_30{padding-bottom:30px}.t-rec_pb_60{padding-bottom:60px}.t-rec_pb_135{padding-bottom:135px}@media screen and (max-width:1200px){.t-descr_xl{font-size:22px}.t-uptitle_md{font-size:14px}.t-title_lg{font-size:60px}.t-name_xs{font-size:14px}}@media screen and (max-width:640px){.t-descr_xl{font-size:20px;line-height:1.4}.t-uptitle_md{font-size:12px}.t-title_lg{font-size:30px}.t-name_xs{font-size:12px}.t-label-free__txt-link{opacity:.4}.t-label-free__main{opacity:.7}}@media screen and (max-width:480px){.t-rec_pt_0{padding-top:0}.t-rec_pt_15{padding-top:15px}.t-rec_pt_30{padding-top:30px}.t-rec_pt_90{padding-top:90px}.t-rec_pb_0{padding-bottom:0}.t-rec_pb_30{padding-bottom:30px}.t-rec_pb_60{padding-bottom:60px}.t-rec_pb_135{padding-bottom:90px!important}}.t-menusub__menu{display:none}.t456__imglogo{display:block;height:auto;margin-right:30px}.t456__linewrapper{position:absolute;bottom:0;left:0;width:100%}.t456__horizontalline{margin:0;border:0;background-color:#C2C2C2;height:1px;right:0;bottom:0;margin:0 40px 0 40px}.t456__imglogo{max-width:300px}.t456__leftwrapper{display:table-cell;vertical-align:middle;padding-left:40px}.t456__rightwrapper{display:table-cell;vertical-align:middle;padding-right:40px;width:100%}.t456__menualign_left{text-align:left}.t456__menualign_right{text-align:right}.t456__menualign_center{text-align:center}@media screen and (max-width:1200px){.t456__leftwrapper{padding-left:20px}.t456__rightwrapper{padding-right:20px}}.t456{width:100%;height:80px;z-index:990;position:fixed;top:0;box-shadow:0 1px 3px rgba(0,0,0,0);transition:background-color 300ms linear}.t456__beforeready{visibility:hidden}.t456 ul{margin:0}.t456__maincontainer{width:100%;height:80px;display:table;position:relative}.t456__maincontainer.t456__c12collumns{max-width:1200px;margin:0 auto}.t456__logo{display:inline-block;font-size:24px;font-weight:400;white-space:nowrap;padding-right:30px}.t456__list{list-style-type:none;margin:0;padding:0!important}.t456__list_item{clear:both;font-family:'Roboto',Arial,sans-serif;font-size:16px;display:inline-block;padding-left:15px;padding-right:15px;margin:0;color:#000000;white-space:nowrap}.t456__list_item .t-active{opacity:.7}.t456__list_item:first-child{padding-left:0}.t456__list_item:last-child{padding-right:0}.t456 a,#allrecords .t456 a{text-decoration:none;color:#000000}.t456.t456__positionabsolute{position:absolute}.t456.t456__positionfixed{position:fixed}.t456.t456__positionstatic{position:static}.t456__mobile{display:none}@media screen and (max-width:980px){.t456__linewrapper{display:none}.t456{position:static;text-align:center;display:block;margin:0;padding:0;height:auto!important}.t456.t456__positionabsolute,.t456.t456__positionfixed,.t456.t456__positionstatic{position:relative}.t456__imglogo{width:auto!important;box-sizing:border-box;padding:20px;margin:0 auto}.t456__imglogomobile.t456__imglogo{width:100%!important}.t456__logo{text-align:center;margin:20px}.t456 img{float:inherit}.t456 .t456__list_item{display:block;text-align:center;padding:10px!important;white-space:normal}.t456__logo{white-space:normal;padding:0}.t456__logowrapper{position:static;display:block;width:100%}.t456__logowrapper2{display:block;position:static}.t456__leftwrapper,.t456__rightwrapper{width:100%!important;display:block}.t456__leftwrapper{padding:20px;box-sizing:border-box}.t456__rightwrapper{padding:20px 0!important;box-sizing:border-box}.t456__list{display:block;padding:0!important}}.t468__title,.t468__uptitle{margin-bottom:40px;color:#fff}.t468__descr{color:#fff}.t468 .t-btn{margin-top:60px}.t123__centeredContainer{text-align:center}.t191{padding-top:28px;padding-bottom:28px}.t191__line{height:1px;margin-top:.5em;margin-bottom:.5em;background-color:#000000;border:none}


      .t463__colwrapper {

        display:table;

        width:100%;

        background-color: rgba(255, 0, 0, 0);
      }



      .t463__c12collumns{max-width:1200px;margin:0 auto}



      .t463__maincontainer{width:100%;height:80px;display:table}.t463__content{padding:2px 40px 0;display:table-cell;vertical-align:middle}.t463__col{display:table-cell;vertical-align:middle;width:33%}.t463__col_center{padding:0 16px}.t463 .t-sociallinks__wrapper{display:-webkit-flex;display:flex;-webkit-justify-content:flex-end;justify-content:flex-end}#allrecords .t463 ul.t-sociallinks__wrapper{margin-bottom:0;padding-left:0;list-style:none}.t463 .t-sociallinks__item{margin:0 3px 0;overflow:hidden}.t463__typo{font-size:14px;color:#222}.t463__img{max-width:150px}@media screen and (max-width:1200px){.t463__content{padding:2px 20px 0}}@media screen and (max-width:960px){.t463__col,.t463__copyright{width:100%;display:block;text-align:center}.t463__maincontainer{display:block}.t463__content{display:block}.t463__maincontainer{height:auto!important;padding:40px 0}.t463__col{margin-bottom:20px;padding:0}.t463__list_item{margin:0 10px 4px}.t463__col:last-child{margin-bottom:0}.t463 .t-sociallinks__wrapper{-webkit-justify-content:center;justify-content:center}}@media screen and (max-width:670px){.t463__typo{font-size:12px}}

      /* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#f8f8f8;-webkit-text-size-adjust:none}.hljs-comment,.diff .hljs-header{color:#998;font-style:italic}.hljs-keyword,.css .rule .hljs-keyword,.hljs-winutils,.nginx .hljs-title,.hljs-subst,.hljs-request,.hljs-status{color:#333;font-weight:bold}.hljs-number,.hljs-hexcolor,.ruby .hljs-constant{color:#008080}.hljs-string,.hljs-tag .hljs-value,.hljs-doctag,.tex .hljs-formula{color:#d14}.hljs-title,.hljs-id,.scss .hljs-preprocessor{color:#900;font-weight:bold}.hljs-list .hljs-keyword,.hljs-subst{font-weight:normal}.hljs-class .hljs-title,.hljs-type,.vhdl .hljs-literal,.tex .hljs-command{color:#458;font-weight:bold}.hljs-tag,.hljs-tag .hljs-title,.hljs-rule .hljs-property,.django .hljs-tag .hljs-keyword{color:#000080;font-weight:normal}.hljs-attribute,.hljs-variable,.lisp .hljs-body,.hljs-name{color:#008080}.hljs-regexp{color:#009926}.hljs-symbol,.ruby .hljs-symbol .hljs-string,.lisp .hljs-keyword,.clojure .hljs-keyword,.scheme .hljs-keyword,.tex .hljs-special,.hljs-prompt{color:#990073}.hljs-built_in{color:#0086b3}.hljs-preprocessor,.hljs-pragma,.hljs-pi,.hljs-doctype,.hljs-shebang,.hljs-cdata{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.diff .hljs-change{background:#0086b3}.hljs-chunk{color:#aaa}

  div.t-records {opacity: 1;}

  @media screen and (max-width: 980px) {
  #rec381512573 .t456__leftcontainer {
    padding: 20px;
  }

  #rec381512573 .t456__imglogo {
    padding: 20px 0;
    filter: grayscale(100%) brightness(100%);
    transition: all 1.5s ease;
  }

  #rec381512573 .t456__imglogo:hover {
    filter: grayscale(0%) hue-rotate(120deg) brightness(100%);
    transition: all 1.5s ease;
  }
}

.t456__imglogo {
  filter: grayscale(200%) brightness(200%);
  transition: all 1.5s ease;
}

.t456__imglogo:hover {
  filter: grayscale(0%) hue-rotate(50deg) brightness(100%) contrast(150%);
  transition: all 1.5s ease;
}

#rec381512573
          .t-menu__link-item {
            
          }
          @supports (overflow:-webkit-marquee) and (justify-content:inherit)
          {
          #rec381512573 .t-menu__link-item,
          #rec381512573 .t-menu__link-item.t-active {
          opacity: 1 !important;
          }
          }

          .t456__list_item:hover .t-menu__link-item {
            color: #3af4ff !important; /* Белый цвет текста при наведении */
            transition: 0.3s;
          }


  #rec381512573 .t456__logowrapper a { color: #ffffff; } #rec381512573 a.t-menu__link-item { color: #ffffff; font-weight: 600; }
          #rec381512573 .t456__logo { color: #ffffff; }



                    :root{
                  --background-dark: #2d3548;
                  --text-light: rgba(255,255,255,0.6);
                  --text-lighter: rgba(255,255,255,0.9);
                  --spacing-s: 8px;
                  --spacing-m: 16px;
                  --spacing-l: 24px;
                  --spacing-xl: 32px;
                  --spacing-xxl: 64px;
                  --width-container: 1200px;
                }





.marg2 {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.but {
  padding: 15px 45px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.but:hover {
  background-color: #49fff8;
  color: #111;
  box-shadow: 0 0 10px #49fff8, 0 0 20px #49fff8, 0 0 50px #49fff8;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.but:active {
  padding: 15px 55px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #49fff8;
  color: #000;
  border: 2px solid #49fff8;
  box-shadow: 0 0 5px #49fff8, 0 0 10px #49fff8, 0 0 20px #49fff8;
  transition: all 0.3s ease-in-out;
}
                .zakaz {
                    font-family: 'Arial', 'Helvetica', sans-serif;
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                    text-align: center;
                    padding: 20px 0;
                    background-color: rgba(255, 0, 0, 0);
                }

                .t468__descr ,t-descr ,t-descr_xl ,t-margin_auto {
                  color: #fff;
                  transition: color 0.5s, font-size 1s;
                }

                .t468__descr:hover {
                  color: #49fff8;
                  cursor: pointer;
                  transition: color 0.5s, font-size 1s;
                }

                .t-menu__link-item:hover {
                  transition: 0.5s;
                  color: darkred;
                }

                .t468__uptitle ,t-uptitle ,t-uptitle_md ,t-margin_auto {
                  color: #fff;
                  transition: color 0.5s, font-size 1s;
                }

                @keyframes glow {
                  0%, 100% {
                  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px #49fff8, 0 0 70px #49fff8, 0 0 80px #49fff8, 0 0 100px #49fff8, 0 0 150px #49fff8;
                  }
                  50% {
                    text-shadow: none;
                  }
                }

                .echpchnak {
                  font-size: 30px;
                  animation: glow 3s ease-in-out infinite;
                }

                .t468__uptitle:hover {
                  color: #49fff8;
                  cursor: pointer;
                  transition: color 0.5s, font-size 1s;
                }

                .t468__title {
                  color: #fff;
                  transition: color 0.5s, font-size 1s;
                }

                .t468__title:hover {
                  color: #49fff8;
                  cursor: pointer;
                  transition: color 0.5s, font-size 1s;
                }

                *{
                  border: 0;
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                }

                html{
                  height: 100%;
                  font-family: 'Montserrat', sans-serif;
                  font-size: 14px;
                }

                body{
                  height: 100%;
                }

                

                
                .t-width_100 {
                  background-color: rgba(0,0,0,0);
                }

                .hero-section{
                  align-items: flex-start;
                  background-color: #000000;
                  display: flex;
                  min-height: 50%;
                  justify-content: center;
                  margin-bottom: 75px;
                }

                .card-grid{
                  display: grid;
                  grid-template-columns: repeat(1, 1fr);
                  grid-column-gap: var(--spacing-l);
                  grid-row-gap: var(--spacing-l);
                  max-width: var(--width-container);
                  width: 100%;
                }


                @media(min-width: 540px){
                  .card-grid{
                    grid-template-columns: repeat(2, 1fr);
                  }
                }

                @media(min-width: 960px){
                  .card-grid{
                    grid-template-columns: repeat(4, 1fr);
                  }
                }

                .card{
                  list-style: none;
                  position: relative;
                  transition: 1s;
                }

                .card:before{
                  content: '';
                  display: block;
                  padding-bottom: 150%;
                  width: 100%;
                  box-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
                  transition: 1s;
                }


                .card__background{
                  background-size: cover;
                  background-position: center;
                  border-radius: var(--spacing-l);
                  bottom: 0;
                  filter: brightness(0.75) saturate(1.2) contrast(0.85);
                  left: 0;
                  position: absolute;
                  right: 0;
                  top: 0;
                  transform-origin: center;
                  transform: scale(1) translateZ(0);
                  transition:
                    filter 200ms linear,
                    transform 200ms linear;
                }

                .card:hover .card__background{
                  transition: 0.5s;
                }


                .card:hover .card__background {
                  transform: scale(1.05) translateZ(0);
                  box-shadow: 0 0 30px rgba(63, 250, 255, 0.6), 0 0 5px rgba(255, 255, 255, 1);
                  filter: brightness(0.70) saturate(1) contrast(0.95);
                  transition: 0.4s;
                }

                .card:hover .card__category {
                  color: #49fff8;
                  font-size: 15px;
                  transition: 0.3s;
                }

                .card:hover .card__heading {
                  color: #49fff8;
                  font-size: 2.2rem;
                  transition: 0.3s;
                }

                .card__content{
                  left: 0;
                  padding: var(--spacing-l);
                  position: absolute;
                  top: 0;
                }

                .card__category{
                  color: var(--text-light);
                  font-size: 0.9rem;
                  margin-bottom: var(--spacing-s);
                  text-transform: uppercase;
                  transition: 0.3s;
                }

                .card__heading{
                  color: var(--text-lighter);
                  font-size: 1.9rem;
                  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
                  line-height: 1.4;
                  word-spacing: 100vw;
                  transition: 0.3s;
                }

                .overlay {
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.5);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  z-index: 999;
                }

                .countdown {
                  background-color: rgba(255, 255, 255, 0);
                  padding: 20px;
                  border-radius: 52px;
                  text-align: center;
                }

                .epy {
                  color: #eeeeee;
                  font-family: sans-serif;
                  font-size: 30px;
                }

                #rec381529221 .t463__copyright {
          color: #fff;}
          #rec381529221 .t463__link { font-size: 20px; color: #ffffff; font-weight: 600; } #rec381529221 .t463__logo { font-size: 20px; color: #ffffff; font-weight: 600; }

          .r t-rec {
            background-color: rgba(255, 0, 0, 0.5);
          }

          .t456__maincontainer{
            background-color: rgba(255, 0, 0, 0);
          }

          .t-rec_pb_135 {
            background-color: rgba(255, 0, 0, 0.5);
          }


.hui {}